@media (min-width: 32.5em) {
    .horizontal-line {
        margin-top: 20px;
        margin-bottom: 10px;
        border: 20px;
        height: 20px;
        width: 100%;
        grid-column: 1/5;
        background: #2C73E5;
      }
    


}