/*All of the Generic stuff*/
/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: auto;
    color: #444;
    /* min-width: 300px; */
    max-width: 600px;
    background-color: #FFFAFF;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: #001A03;
  }
  h1, h2, h3, h4, h5, h6 {
    /*font-family: "Cormorant Garamond", serif;*/
    font-family: 'VT323', monospace;
  }
  img {
    max-width: 100%;
  }

  .horizontal-line {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px;
    height: 1px;
    width: 100%;
    grid-column: 1/5;
    background: #2C73E5;
  }

  header {
      display: grid;
      grid-template-columns: 1fr 3fr;
  }

  header img {
      max-width: 200px
  }