body {
    margin: 0px 15px;
}
#banner {
    height: max-content;
    padding: 5px 0px;
    text-align: center;
    background: #003469;
    color: white;
}
img {
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 1vw;
}

h2 {
    margin: 0px;
    margin-top: 5px;
    padding: 5px; 
    text-align: center;
    
}
nav {
    background: #febe10;
    
}
nav ul {
    list-style-type: none;
    padding: 0px;
}
#nav1 li {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    background: #febe10;
    text-align: center;
    /*padding-left: 25vw;*/

}
#nav2 {
    float: right;
    display: flex;
}
#nav2 li {
    padding: 1.5vw;
    z-index: 3;
}
#nav1 li:hover {
    background-color:rgba(252, 127, 10, 0.4);
}
nav ul#nav1 li a {
    text-decoration: none;
    display: block;
    padding: .8em 2vw;
}
nav ul {
    margin: 0px;
}
#hamburgerBtn {
    margin-top: 2px;
    margin-left: 3vw;
    background: transparent;
    font-size: 2em;
    float: left;
    z-index: 2;
    padding:0px;
}
#hamburgerBtn≡ {
    padding: 1px 6px;
}
#hamburgerBtnX {
    padding: 1px 6px;
}
#hamburgerBtnX:hover {
    background-color:rgba(252, 127, 10, 0.5);
}
nav ul li a:hover {
    background-color:rgba(252, 127, 10, 0.5);
}

#giveMeTodaysDate {
    text-align: right;
    margin-bottom: 1vh;
    margin-top: 0px;
}

/*JavaScript Hiding-Showing*/

/*making the burger float so it can be clicked even when hovering the home maenu button in small/base resolution*/
#hamburgerBtn {
    position: absolute;
    z-index: 10;
}
/*fixing the z-index problem from above in ultra low res settings*/
@media (max-width: 200px) {
    #hamburgerBtn {
        position: relative;
        z-index: 1;
    }
}

nav #nav1 {display: none;}
nav #nav1.clicked {display: block;}
#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.clicked span:nth-child(2) {display:block;}
#hamburgerBtn.clicked span:nth-child(1) {display:none;}

/*Doing the Grid for the <main> in <body>*/

main#home-main section {
    width: calc(100% - 10px);
    height: calc(200px - 10px);
    margin-left: 5px;
    margin-right: 5px;
    border: #13B0D7;
    border-width: 5px;
    border-radius: 50px;
    border-style: solid;

}

main#home-main {
    clear: both;
    display: grid;
    grid-gap: 10px;
    
}

main#home-main #spotlights {
    height: 400px;
}
main#home-main section section {
    width: 100%;
}
main#home-main .spotlight {
    margin-top: 5px;
    height: 180px;
    width: calc(100% - 20px);
}

main#home-main a:nth-child(3) {
    display: none;
}
main#home-main a:hover {
    cursor: pointer;
}
main#home-main #join {
    display: none;
}
main#home-main #join a button{
    cursor: pointer;
}
footer ul {
    text-align: center;
}
footer ul li {
    display: inline;
}
footer ul li h3, footer ul li h4 {
    color: #003469;
    display:inline;
}
footer ul li h4 {
    color: #13B0D7;
    
}
main {
    clear: both;
}

.horizontalLine {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;;
    border: 1px;
    height: 1px;
    width: 100%;
    background: #13B0D7;
}

/*Adding the pictures for the main grid homepage*/
main#home-main section {
    background: lightblue;
}

#heroJoinBtn {
    display:none;
    text-align: left;
    padding: 20px;
    margin: 160px 0px 0px 190px;
    background: linear-gradient(rgba(236, 122, 122, 0.8), rgba(255, 255, 255, 0.7), rgba(119, 135, 224, 0.8));
    border-radius: 0 50% 30% 30%;
    
}#heroJoinBtn:hover {
    background: linear-gradient(rgba(236, 122, 122, 1), rgba(255, 255, 255, 1), rgba(119, 135, 224, 1));
    cursor: pointer;
}
main#home-main .newFont {
    font-family: cursive;
    font-style: italic;
    font-size: 1.1em;
}
main#home-main .msec {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
main#home-main #hero {
    grid-column: 1/2;
    background-size: cover;
    grid-row: 1/2;
}
main#home-main #event {
    grid-column: 1/2;
}

main#home-main #weather {
    background-color: lightblue;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 45% 35%;
}
main#home-main #weather h2 {
    grid-column: 1/3;
}
main#home-main #weather ul {
    grid-column: 2/3;
    margin:0;
    padding: 0 0 0 10px;
}
main#home-main #weather img {
    grid-column: 1/2;
    grid-row: 2/3;
    max-height: 100%;
    margin: auto;
    margin-top: -8vw;
}
main#home-main #weather p {
    margin: 8px 0;
}
main#home-main section#weather p#weather-source {
    grid-column: 1/-1;
    grid-row: 3/4;
    text-align: center;
}

main#home-main #newsRelease {
    height: calc(100% - 10px);
    opacity: .6;
    grid-row: 3/4;
    grid-column: 1/2;
}
main#home-main #newsRelease p {
    margin-bottom: 3px;
    
}
main#home-main #newsReleaseInfo {
    height: min-content;
    grid-row: 3/4;
    z-index: 2;
    grid-column: 1/2;
    text-shadow: 0px 0px 1.4px rgba(255, 255, 255, .5);
    background:none;
}
main#home-main #newsReleaseInfo p {
    margin-bottom: 3px;
    padding: 0px 1.8vw 0px 1.8vw;
}
main#home-main #newsReleaseInfo a {
    float: right;
    margin-right: 35px;
}
@media (max-width: 235px) {
    main#home-main #newsReleaseInfo a {
        text-align: center;
        margin: 0px 35px 0px 35px;
    }
}



main#home-main .spotlight {
    display: grid;
}
main#home-main .spotlight {
    text-shadow: 0px 1px 3px black;
    background: white;
}
main#home-main .spotlight div {
    vertical-align: bottom;
}
main#home-main #spotlight1 {
    background-size: cover;   
}
main#home-main .spotlight img {
    margin: 8px auto 0 auto;
    max-width: 80%;
    max-height: 50%;
}
main#home-main .spotlight p {
    text-align: left;
    margin: 5px auto 5px auto;
    max-width: 80%;
    max-height: 50%;
}


main#home-main #spotlight2 {
    background-position: center center;
}
main#home-main #spotlight3 {
    background-size: cover;
}
main#home-main #join {
    background: lightblue;
}
main#home-main #join p {
    margin: 0px 5px 0px 5px;
}
main#home-main #join button {
    margin: 10px;
    border-radius: 0px 0px 15px 15px;
    border-width: 1px;
}

/* Only for week 6
#hero-background picture img {
    border-radius: 45px;
}
#hero-background {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    display:flex;
    justify-content: center;
    
    
} */

/*fixing all the pictures Week06*/
main#home-main #hero {
    background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/e0fef66d4ec9ab8489875d3868f7d44f-1432800277-small.jpeg?raw=true");
}
main#home-main #event {
    background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/DgCfoSwC0nvreRSKRTnG99ao_760916c9b318a56d09f73cfb02e61dc7-small.jpeg?raw=true");
}
main#home-main #newsRelease {
    background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/FB_IMG_1642007179129-625x938-small.jpg?raw=true");
}
/* main#home-main #spotlight1 {
    background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/rockclimbers_011016~0.jpeg?raw=true");
}
main#home-main #spotlight2 {
    background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/20190607-120700-largejpg-small.jpeg?raw=true");
} */


/*Discover Page*/
/*Main*/
main#discover-main-grid {
    display: grid;
    grid-template-columns: 1fr;
}
main#discover-main-grid section {
    margin: 2vw;
    grid-column: 1/2;
}
main#discover-main-grid div#demographics {
    float: left;
    grid-row: 1/3;
}
main#discover-main-grid div#days-since-last-page-visit {
    grid-row: 9/10;
}

main#discover-main-grid section img:hover {
    filter: drop-shadow(0 0 1rem rgb(29, 52, 128));
}

li.emptyli {
    list-style-type: none;
}



/* Join */
body main#join-main {
    margin: auto;
    width: content;
}
.nameTop input, .nameTop textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1.5px #13B0D7;
    padding: .75rem;
    width: 85%;
    max-width: 20rem;
    background-color: #febf1027;
    border-radius: 5px;
}
label.nameRight {
    display: block;
    font-size: 1rem;
    padding: .75rem 0;
}
form fieldset {
    margin: 2% 0;
    border: 1px solid #003469;
    border-radius: 20px;
    padding: .5rem 2%;
}
button.submitBtn {
    padding: .5% 2%;
    margin: 0 2%;
    width: 95%;
    max-width: 21.75rem;
    background-color: #febf1027;
    border: solid 3px #13B0D7;
    border-radius: 8px;
}
button.submitBtn:hover, label.nameRight:hover, .nameTop input:hover, .nameTop textArea:hover {
    background-color: #febf1000;
}
button.submitBtn:focus, label.nameRight:focus, .nameTop input:focus, .nameTop textArea:focus {
    background-color: #febf1000;
    border:solid 3px #13B0D7;
}
.no-top-margin {
    margin-top: 0px;
}
.no-bottom-margin {
    margin-block-end: 0em;
}
main#join-main h2 {
    text-align: left;
}
main#join-main p {
    margin-left: 2vw;
}
main#join-main ul {
    margin-left: 3vw;
}
/* Thank you*/
#thank-you-main h2{
    margin: 10vw;
    font-size: 5vw;
}
@media (max-width: 480px) {
    #thank-you-main h2{
        margin: 1vw;
        font-size: 1.5rem;
    }
}

/*directory*/

#directory-main div#directory-cards{
    display: grid;
    grid-template-columns: 1fr;
}
#directory-main div#directory-cards section {
    border: 3px solid #13B0D7;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}
#directory-main div#directory-cards section img {
    display: block;
    margin: 5px auto;
    max-height: 150px;
}
#directory-main div#directory-cards section:nth-child(9) img {
    background-color: lightgray;
}

/*weather-api*/
#weather-api-main {
    display: grid;
    text-align: center;
}



/* Contact Us Page */
main#contact-us-main {
    display: grid;
}
main#contact-us-main h2 {
    text-align: left;
}
main#contact-us-main ul {
    list-style-type: none;
}
main#contact-us-main ul li {
    font-size: 1.1em;
}

/* Message Sent Page */
