img {
    max-width: 100%;
}
#logoPic {
    width: 50px;
}

nav ul {
    display: block;
    list-style-type: none;

}
nav ul li a {
    text-decoration: none;
    padding: .8em 2vw;

}

#hamburgerBtn {
    background: transparent;
    font-size: 2em;
}