img {
    max-width: 100%;
}


h1 {
    text-align: center;
}
nav ul {
    display: block;
    list-style-type: none;

}
nav ul li a {
    text-decoration: none;
    padding: .8em 2vw;

}

#hamburgerBtn {
    background: transparent;
    font-size: 2em;
}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(2) {display:block;}
#hamburgerBtn.open span:nth-child(1) {display:none;}