@media (min-width: 64em) {
    body {
        max-width: 64em;
        margin: 0 45px 0px 15px;
    }
    @media (min-width: 68.5em) {
        body {
            margin: auto;
        }
    }
    /*Setting the grid in the navigation and header*/
    #nav2 li {
        padding: 10px 30.69px;
    }
    nav ul#nav1 li a{
        border-top: none;
        padding: 15px 35.805px;
    }
    /*Doing the Grid for the <main> in <body>*/
    main#home-main {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    main#home-main #event {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    main#home-main #weather {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    main#home-main #weather img {
        height: auto;
        margin-top: -25px;
    }
    main#home-main #join {
        display: block;
        grid-area: 3 / 1 / span 1 / span 1;
    }
    main#home-main #hero {
        height: calc(100% - 10px);
        grid-area: 1 / 2 / span 2 / span 2;
        font-size: 25.2px;
        padding-top: 5px;
        color: white;
    }
    main#home-main #heroJoinBtn {
        display: inline-block;
        padding: 20px;
        margin: 160px 0px 0px 190px;
        
    }
    main#home-main #spotlights {
        height: calc(100% - 10px);
        grid-area: 1 / 4 / span 3 / span 1;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    main#home-main #newsRelease {
        grid-area: 3 / 2 / span 1 / span 2;
    }
    main#home-main #newsReleaseInfo {
        grid-area: 3 / 2 / span 1 / span 2;
        z-index: 2;
    }
    main#home-main .spotlight:nth-child(1) {
        grid-column: 1 / 1 / span 1 / span 1;
        display: block;
        
    }

    main#home-main .spotlight:nth-child(2) {
        grid-area: 2 / 1 / span 1 / span 1;
        display: block;
    }
    main#home-main a:nth-child(3) {
        display: block;
    }
    main#home-main .spotlight:nth-child(3) {
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        display: block;
        grid-area: 3 / 1 / span 1 / span 1;

    }

    /* 6th week only
    #hero-background {
        height: calc(100% - 10px);
        grid-area: 1 / 2 / span 2 / span 2;
    } */
    /*fixing all the pictures Week06*/
    main#home-main #hero {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/e0fef66d4ec9ab8489875d3868f7d44f-1432800277-small.jpeg?raw=true");
    }
    main#home-main #event {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/DgCfoSwC0nvreRSKRTnG99ao_760916c9b318a56d09f73cfb02e61dc7-extrasmall.jpeg?raw=true");
    }
    main#home-main #newsRelease {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/FB_IMG_1642007179129-625x938-small.jpg?raw=true");
    }
    main#home-main #spotlight1 {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/rockclimbers_011016~0-extrasmall.jpg?raw=true");
    }
    main#home-main #spotlight2 {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/20190607-120700-largejpg-extrasmall.jpg?raw=true");
    }
    main#home-main #spotlight3 {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/59555684_10158378990472802_8279368139641192448_n-extrasmall.jpeg?raw=true");
    }

    /*thank you*/
    #thank-you-main h2{
        margin: 103px;
        font-size: 52px;
    }

    #directory-main div#directory-cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}