@media (min-width: 64em) {
    body {
        max-width: 64em;
        margin: auto;
    }
    /*Setting the grid in the navigation and header*/
    #nav2 li {
        padding: 10px 30.69px;
    }
    nav ul#nav1 li a{
        border-top: none;
        padding: 15px 35.805px;
    }
    /*Doing the Grid for the <main> in <body>*/
    main {
        grid-template-columns: 25% 25% 25% 25%;
    }
    #event {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    #weather {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    #weather img {

        height: auto;
        margin: auto;
        margin-top: 15px;
    }
    #join {
        display: block;
        grid-area: 3 / 1 / span 1 / span 1;
    }
    #hero {
        height: calc(100% - 10px);
        grid-area: 1 / 2 / span 2 / span 2;
        font-size: 25.2px;
        padding-top: 5px;
        color: white;
    }
    #heroJoinBtn {
        display: inline-block;
        padding: 20px;
        margin: 160px 0px 0px 190px;
        background: rgba(184, 195, 202, 0.8);
        
    }
    #spotlights {
        height: calc(100% - 10px);
        grid-area: 1 / 4 / span 3 / span 1;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #newsRelease {
        grid-area: 3 / 2 / span 1 / span 2;
    }
    #newsReleaseInfo {
        grid-area: 3 / 2 / span 1 / span 2;
        z-index: 2;
    }
    .spotlight:nth-child(1) {
        grid-column: 1 / 1 / span 1 / span 1;
        display: block;
        
    }

    .spotlight:nth-child(2) {
        grid-area: 2 / 1 / span 1 / span 1;
        display: block;
    }

    .spotlight:nth-child(3) {
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        display: block;
        grid-area: 3 / 1 / span 1 / span 1;

    }
}