@media (min-width: 64em) {
    body {
        max-width: 64em;
        margin: auto;
    }
    /*Setting the grid in the navigation and header*/
    #nav2 li {
        padding: 10px 30.69px;
    }
    nav ul#nav1 li a{
        border-top: none;
        padding: 15px 35.805px;
    }
    /*Doing the Grid for the <main> in <body>*/
    main section {
        grid-column: 1/-1;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    #spotlights {
        height: 200px;
        display: grid;

    }

    .spotlight:nth-child(1) {
        height: 100%;
        width: 100%;
        grid-column: 1/2;
    }

    .spotlight:nth-child(2) {
        height: 100%;
        width: 100%;
        grid-column: 2/3;
        
    }

    .spotlight:nth-child(3) {
        display: inline-block;
    }
}