@media (min-width: 32.5em) {
    #hamburgerBtn {
        display: none;
    }
    nav ul {
        display: flex;
    }
    #nav1 {
        float: left;
    }
    #nav2 {
        float: right;
    }
    .giveMeTodaysDate {
        clear: both;
    }
    #logoPic {
        width: 32.5em;
        display: inline;
    }
    #title {
        display: inline;
    }
}