@media (min-width: 32.5em) {
    nav #nav1 {display: flex;}

    #hero {
        font-size: calc(1em + .8vw);
        padding-top: .3vw;
    }

    #hamburgerBtn {
        display: none;
    }
    nav ul {
        display: flex;
    }
    #nav1 {
        float: left;
    }
    #nav1 li {
        border-top: none;
    }
    nav ul#nav1 li a {
        padding: .8em 3.5vw;
    }
    #nav2 {
        float: right;
    }
    #nav2 li {
        padding: 0.5em 1vw;
    }
    .giveMeTodaysDate {
        clear: both;
    }
    #logoPic {
        width: 32.5em;
        display: inline;
    }
    #title {
        display: inline;
    }
    nav #nav1.clicked {display: flex;}
    #giveMeTodaysDate {
        margin-right: .5vw;
    }
    /*Doing the Grid for the <main> in <body>*/
    main#home-main section {
        grid-column: 1/-1;
    }
    main#home-main #weather {
        grid-row-gap: 20px;
    }
    main#home-main #weather img {

        height: 180px;
        margin-right: 25px;
        margin-top: -35px;
    }
 
    main#home-main #spotlights {
        height: 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    

    }

    main#home-main .spotlight:nth-child(1) {
        margin-top: 5px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        grid-column: 1/2;

    }

    main#home-main .spotlight:nth-child(2) {
        margin-top: 5px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        grid-column: 2/3;
        
    }

    /*Footer*/
    #footerLogo {
        max-width: 32.5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /*main page grid*/
    main#home-main #newsRelease {
        height: 200px;
    }
    main#home-main #newsReleaseInfo {
        height: 200px;
    }
    main#home-main #newsReleaseInfo a {
        margin-right: 15px;
    }
    /*fixing all the pictures Week06*/
    /*fixing all the pictures Week06*/
    main#home-main #hero {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/e0fef66d4ec9ab8489875d3868f7d44f-1432800277-medium.jpeg?raw=true");
    }
    main#home-main #event {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/DgCfoSwC0nvreRSKRTnG99ao_760916c9b318a56d09f73cfb02e61dc7.jpeg?raw=true");
    }
    main#home-main #newsRelease {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/FB_IMG_1642007179129-625x938.jpeg?raw=true");
    }
    main#home-main #spotlight1 {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/rockclimbers_011016~0.jpeg?raw=true");
    }
    main#home-main #spotlight2 {
        background-image: url("https://github.com/rgschmidt14/wdd230/blob/main/chamber/images/dif_sizes/20190607-120700-largejpg-small.jpeg?raw=true");
    }
    

    /*Discover Page*/
    /*Main*/
    main#discover-main-grid {
        grid-template-columns: 1fr 1fr;
    }
    main#discover-main-grid section {
        grid-column: 2/3;
    }

    /*directory*/
    #directory-main div#directory-cards{
        grid-template-columns: 1fr 1fr;
    }

}
