@media (min-width: 32.5em) {
    nav #nav1 {display: flex;}

    #hamburgerBtn {
        display: none;
    }
    nav ul {
        display: flex;
    }
    #nav1 {
        float: left;
    }
    #nav1 li {
        border-top: none;
    }
    nav ul#nav1 li a {
        padding: .8em 3.5vw;
    }
    #nav2 {
        float: right;
    }
    #nav2 li {
        padding: 0.5em 3vw;
    }
    .giveMeTodaysDate {
        clear: both;
    }
    #logoPic {
        width: 32.5em;
        display: inline;
    }
    #title {
        display: inline;
    }
    nav #nav1.clicked {display: flex;}
    #giveMeTodaysDate {
        margin-right: .5vw;
    }
    /*Doing the Grid for the <main> in <body>*/
    main section {
        grid-column: 1/-1;
    }
 
    #spotlights {
        height: 200px;
        display: grid;
    

    }

    .spotlight:nth-child(1) {
        margin-top: 5px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        grid-column: 1/2;
    }

    .spotlight:nth-child(2) {
        margin-top: 5px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        grid-column: 2/3;
        
    }
}