@media(min-width: 1024px) {
/* * {color: blue;} */

/*Home Page*/
html {
    font-size: 1.4em;
}
header {
    height: calc(var(--HEADER_HEIGHT) * 2.2);
}
header h1 {
    font-size: 2.2rem;
}

/*-----Contact Us-----*/
main#contact-us-main form fieldset textarea {
    max-width: 430px;
}

}