@media(min-width: 512px) {
/* * {color: red;} */

/*-----Sitewide Header and Footer-----*/
header {
    height: calc(var(--HEADER_HEIGHT) * 1.4);
    font-size: larger;
}
header nav button#hamBtn {
    display: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
}
/*-----Home-----*/

/*--Slideshow turning into scrolling flex/grid--*/
body.home main section.ss-home {
    width: 92.85%;
    border-radius: 75px;
    margin: .75vh .75vw;
}
.ss-home:hover {
    background-color: rgba(255, 255, 255, .25);
}
body.home main {
    display: flex;
    flex-wrap: wrap;
}
section.ss-home#welcome {
    width: 92.85%;
}

}
@media(min-width: 632px) {
    body.home main section.ss-home {
        min-width: 275px;
        width: 45%;
    }
}