/* * {color: greenyellow;} */
:root {
    --HEADER_HEIGHT: max-content;
    --FOOTER_HEIGHT: max-content;
    --EDGES_SMALL: 2vw;
    --EDGES_LARGE: 10vw;
    --FANCY_HEADINGS: 'Monsieur La Doulaise', cursive;
    --REGULAR_HEADINGS: 'Lora', serif;
    --ALL_OTHER_TEXT: 'Poppings', Sans-serif;
    /*Daylight Color Scheme*/
    --MAIN_BACKGROUND_COLOR: #accce5;
    --SUB_BACKGROUND_COLOR: #374f1b;
    --MAIN_HIGHLIGHT_1: #d27452;
    --MAIN_HIGHLIGHT_2: #52415b;
    --SUB_HIGHLIGHTS_1: #488cc5;
    --TEXT_ON_LIGHT_COLOR: black;
    --TEXT_ON_DARK_COLOR: white;
    /*Nighttime Color Scheme*/
    /*...to be added later...*/
    --REG_TRANSITION: .4s;
    --FAST_TRANSITION: .2s;
}

* {
    font-family: var(--ALL_OTHER_TEXT);
}
body {
    margin: 0 var(--EDGES_SMALL);
    background-image: url('../Assets/images/spring_blossoms_pink.jpeg');
}
h2, h3, h4, h5, h6 {
    font-family: var(--REGULAR_HEADINGS);
    font-style: italic;
}
span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}
/*-----Header, Sitewide Navigation AKA The "Hamburger" Menu, and the Severe Weather Warning-----*/
header #severe-weather-warning {
    background-color: rgba(255, 0, 0, .9);
    width: max-content;
    padding: .25em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20vh auto;
    display: none;
    
}
header #severe-weather-warning span button {
    background: rgba(255, 255, 255, .8);
}
header #header-logo {
    height: 3.5em;
    position: absolute;
    float: left;
    top: 0;
    margin: 1vh 0
}
h1 {
    font-family: var(--FANCY_HEADINGS);
    text-align: center;
    
}
header {
    height: var(--HEADER_HEIGHT);
    font-family: var(--REGULAR_HEADINGS);
}
header nav ul {
    display: none;
    padding: 0;
    margin: 0;
    
}
header nav.alt ul {
    display: block;  /*not to self, if desired later add transisiton period and effect*/
    position: relative;
    z-index: 2;
}
header nav ul a {
    text-decoration: none;
}
header nav ul a li {
    list-style-type: none;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--REGULAR_HEADINGS);
    color: var(--TEXT_ON_DARK_COLOR);
    border-bottom: 2px solid var(--SUB_BACKGROUND_COLOR);
    background-color: var(--SUB_HIGHLIGHTS_1);
    white-space: nowrap;
    font-style: italic;
    transition: var(--REG_TRANSITION);
}
header nav ul a li:hover {
    background-color: var(--MAIN_HIGHLIGHT_1);
}
header nav ul a li:active {
    background-color: var(--SUB_HIGHLIGHTS_1);
    border-bottom: none;
}
header nav button {
    background-color: var(--SUB_HIGHLIGHTS_1);
    color: white;
    width: 100%;
    border: none;
    line-height: 2rem;
}
header nav.alt button {
    background-color: var(--SUB_BACKGROUND_COLOR);
}
header nav button:hover {
    background-color: var(--MAIN_HIGHLIGHT_1);
}
header nav button span#hamburger-close-btn,
header nav button.alt span#hamburger-open-btn {
    display: none;
}
header nav button.alt span#hamburger-close-btn,
header nav button span#hamburger-open-btn {
    display: block;
}

/*-----Sitewide Footer-----*/
footer div#footer-container-original {
    justify-items: center;
    background-color: rgba(255, 255, 255, .85);
}
footer #footer-container-1 {
    height: var(--FOOTER_HEIGHT);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;
    border: 2px solid var(--MAIN_HIGHLIGHT_2);
    width: content;
    padding: 1vw 7vw;
}

footer ul {
    padding: 0 .5vw;
    margin: 0;
    margin: auto;
}

footer ul li {
    list-style-type: none;
    margin: 0 .1rem;
    font-family: var(--REGULAR_HEADINGS);
}
footer a, footer #copyright {
    font-family: var(--REGULAR_HEADINGS);
}

/*-----Additional Sitewide-----*/
.center-it {
    text-align: center;
}
.sitewide-button {
    border-radius: 5px;
    line-height: 1.5rem;
    background-color: var(--MAIN_HIGHLIGHT_2);
    border: 2px solid var(--MAIN_HIGHLIGHT_2);
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;
    color: var(--TEXT_ON_DARK_COLOR);
}
.sitewide-button:hover {
    transition: var(--FAST_TRANSITION);
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 8px black;
    cursor: pointer;
}
.make-it-bigger {
    font-size: calc(1em * 1.1);
}
/*Forms*/
.label-above input {
    display: block;
    padding: .25em;
}
form fieldset label {
    display: block;
    padding: .5rem;
}
form fieldset label input {
    max-width: 420px;
    width: 80%;
    padding: .5rem;
}
form fieldset textarea {
    display: block;
    width: 81.4%;
    max-width: 425px;
    min-height: 4em;
}
form fieldset label select {
    padding: .25rem;
}
form legend {
    font-family: var(--REGULAR_HEADINGS);
    font-size: large;
    padding: .25rem;
}



/*-----Home Page-----*/
body.home {
    display: grid;
}

/*--Slideshow--*/
/* ditching this for now, sake of time
body.home main {
    min-height: calc(100vh - var(--FOOTER_HEIGHT) - var(--HEADER_HEIGHT));
    
}*/
/*max height is by default max-content here, or I would set that*/
/*main section {
    display: none;
    width: 98%;
} */
/*Selector*/



/*Individual Slide*/
.ss-home {
    max-width: 98%;
    min-height: 256px;
    border: 5px solid var(--MAIN_HIGHLIGHT_2);
    border-radius: 15vw;
    margin: 2vh 0;
    text-align: center;
}
.ss-home img {
    max-height: 200px;
    max-width: calc(100% - var(--EDGES_SMALL) * 2);
    margin: 0 var(--EDGES_SMALL);
}
.ss-home p {
    margin: 0 calc(var(--EDGES_SMALL) * 1.5) calc(var(--EDGES_SMALL) * 1.5) calc(var(--EDGES_SMALL) * 1.5);
    /* border-radius: 0 0 15vw 15vw; to be used with shape-outside later*/
}
.ss-home h3, section.ss-home#book-now button {
    max-width: max-content;
    /* border-radius: 15vw 15vw 0 0; to be used with shape-outside later*/
    margin: 1em auto 1em auto;
    padding: 0 calc(var(--EDGES_SMALL) * 1.5) 0 calc(var(--EDGES_SMALL) * 1.5);
}
.ss-home h3 a {
    text-decoration: inherit;
    color: inherit;
    font-family: inherit;
}

/*Welcome*/

/*Book Now*/


/**/

/**/

/**/

/**/

/*Questions*/
/* body main.home section:nth-child(1) {
    display: block;
} */



/*-----Contact Us-----*/




/*-----Successful Send-----*/
main#successful-send-main p.smaller-text {
    font-size: smaller;
}

/*-----Services-----*/
main#services-main section h3 {
 text-align: center;
}
main#services-main section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
main#services-main img {
    max-height: 200px;
    margin: 1vw 1.5vw;
    max-width: 95%;
}

/*-----Reservation-----*/
body#reservation-body header {
    margin: auto;
    width: content;
}
main#reservation-main section div button {
    width: 45%;
    height: 5rem;
    margin: 0 .5vw;
}
main#reservation-main section {
    max-width: max-content;
}
main#reservation-main h3 {
    text-align: center;
}
main#reservation-main section div {
    display: flex;
}
#singleBedExample, #couplesBedExample, #family1-2KidsExample, #family3-5kidsExample, #otherSpecialExample {
    display: none;
    grid-column: 2/3;
}
main#reservation-main section#make-a-reservation form button {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

/*-----Temple-----*/
main#temple-main img {
    max-width: 95%;
}
main#temple-main section {
    max-width: 95%;
    border: 2px solid var(--MAIN_HIGHLIGHT_2);
    padding: 5%;
    border-radius: var(--EDGES_SMALL);
    margin: var(--EDGES_SMALL);
}
main#temple-main {
    text-align: center;
}

/*-----When the Screen is Extremely small for some odd reason-----*/
@media(max-width:255px) {
    /* * {color: orange;} */
}