#banner {
    height: max-content;
    padding: 5px 0px;
    text-align: center;
    background: #003469;
    color: white;
}
img {
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 1vw;
}

h2 {
    margin: 0px;
    margin-top: 5px;
    padding: 5px; 
    text-align: center;
    
}
nav {
    background: #febe10;
    
}
nav ul {
    list-style-type: none;
    padding: 0px;
}
#nav1 li {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    background: #febe10;
    text-align: center;
    /*padding-left: 25vw;*/

}
#nav2 {
    float: right;
    display: flex;
}
#nav2 li {
    padding: 1.5vw;
    z-index: 3;
}
#nav1 li:hover {
    background-color:rgba(252, 127, 10, 0.4);
}
nav ul#nav1 li a {
    text-decoration: none;
    display: block;
    padding: .8em 2vw;
}
nav ul {
    margin: 0px;
}
#hamburgerBtn {
    margin-top: 2px;
    margin-left: 3vw;
    background: transparent;
    font-size: 2em;
    float: left;
    z-index: 2;
    padding:0px;
}
#hamburgerBtn≡ {
    padding: 1px 6px;
}
#hamburgerBtnX {
    padding: 1px 6px;
}
#hamburgerBtnX:hover {
    background-color:rgba(252, 127, 10, 0.5);
}
nav ul li a:hover {
    background-color:rgba(252, 127, 10, 0.5);
}

#giveMeTodaysDate {
    text-align: right;
    margin-bottom: 1vh;
    margin-top: 0px;
}

/*JavaScript Hiding-Showing*/

/*making the burger float so it can be clicked even when hovering the home maenu button in small/base resolution*/
#hamburgerBtn {
    position: absolute;
    z-index: 10;
}
/*fixing the z-index problem from above in ultra low res settings*/
@media (max-width: 200px) {
    #hamburgerBtn {
        position: relative;
        z-index: 1;
    }
}

nav #nav1 {display: none;}
nav #nav1.clicked {display: block;}
#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.clicked span:nth-child(2) {display:block;}
#hamburgerBtn.clicked span:nth-child(1) {display:none;}

/*Footer*/
footer ul {
    text-align: center;
}
footer ul li {
    display: inline;
}
footer ul li h3, footer ul li h4 {
    color: #003469;
    display:inline;
}
footer ul li h4 {
    color: #13B0D7;
}
main {
    clear: both;
}



/*Main*/
main ul li {
    list-style-type: none;
}
main ul {
    padding: 0;
    margin: 2vw;
}

