@media (min-width: 64em) {

   /*lesson 2*/
   #design-principles-main-grid {
       grid-template-columns: 1fr 1fr 1fr;
   }
   body {
       max-width: 64em;
   }
   #lesson3NavLinks li {
    margin: 8px 5% 8px 5%;
  }
}