@media (min-width: 32.5em) {
    

   .sizePic {
    width: 32.5em;
   }


    /*Lesson 3*/
    
    #lesson3NavLinks {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
   }

   #lesson3NavLinks li {
    margin: 4px 5% 4px 5%;
  }
}