/*All pages*/
body {
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  color: #444;
  min-width: 300px;
  max-width: max-content;
  margin: auto;
  background-color: whitesmoke;
}
main {
  border-color: #13B0D7;
  border-radius: 5%;
}
p {
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #06356D;
}
img {
  max-width: 100%;
}

.horizontal-line {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px;
  height: 1px;
  width: 100%;
  grid-column: 1/5;
  background: #134492;
}


/*Lesson 3*/

#lesson3NavLinks {
  list-style-type: none;
  display: block;
  text-align: center;
  padding: 10px;

}
#lesson3NavLinks li {
  text-decoration: none;
  margin: 5px;
}

.colorSchemeColorBlock {
  width: 5em;
  height: 5em;
}
#cb1 {
  background-color: #00acd4;
  color: white;
}
#cb1 {
  background-color: #003469;
  color: white;
}
#cb1 {
  background-color: #71a1d6;
  color: white;
}
#cb1 {
  background-color: #febe10;
  color: white;
}
#cb1 {
  background-color: #939598;
  color: white;
}
#cb1 {
  background-color: #492365;
  color: white;
}
